
section{
    background-color: #1D1D1D;
    padding-bottom: 5em;
    padding: 12% 0%;
}

img{
    width: 6em;
    background-color: #1D1D1D
}

.about-h3{
    padding-bottom: 2em;
    background-color: #1D1D1D;
    color: #eff0f3;
    font-size: 2.3em;
    text-align: center;
    font-weight: 100;
}
#learn{
    text-decoration: underline;
    font-weight: 900;
    background-color: #1D1D1D;
    color: white;
}

.about{
    background-color: #1D1D1D;
}

.technologies-primary{
    background-color: #1D1D1D;
    display: flex;
    justify-content: space-evenly;
    margin: 0 10em;
}

.technologies-secondary{
    background-color: #1D1D1D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5em 20em;
}
.technology-img{
   height: 10%;
}