main{
    display: flex;
    justify-content: space-between;
    margin: 8em 5em;
}

h2{
    text-align: center;
}

h4{
    text-align: center;
}

span{
    color: #CFA765;
}

.lottie-animation-main{
    height: 35em;
} 

.home-main{
    font-size: 3em;
}